@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    font-family: 'HelveticaNeue', 'Open Sans', sans-serif;
    background: url('background.jpg') repeat scroll center;
    color: #fff;
    min-height: 40rem;
    margin-bottom: 30rem;
    clear: both;
}

a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

a:hover {
    color: #ffc004
}

.wrapper {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto 10rem auto;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 3em;
    letter-spacing: -8px;
    font-weight: 600;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    line-height: 1.625rem;
    margin: 0.5rem 0;
}

.nav ul li a {
    font-weight: 600;
}

.nav ul li a.active {
    color: #ffc004;
}

.contact {
    grid-column: 2;
    margin: 2rem 1rem 0 0;
}

a.contact-btn {
    font-weight: 600;
    border: 1px solid #fff;
    padding: 1rem 2rem;
}

a.contact-btn:hover {
    color: #ffc004;
    border-color: #ffc004;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 15rem 0;
    height: 70vh;
}

h1 {
    font-size: 4rem;
    letter-spacing: -2.2px;
    margin: 0;
}

.headline {
    flex-basis: 40%;
}

.subhead {
    flex-basis: 35%;
    padding: 1rem 2rem;
}

.subhead p {
    font-size: 0.9rem;
    line-height: 1.8rem;
}



/* Footer / CTA */

footer {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    align-items: flex-start;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    color: #000;
    max-width: 84rem;
    margin: 0 auto;
    padding: 4rem 5rem 5rem 5rem;
}

footer a {
    color: #000;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
}

footer a:hover {
    color: #ffc004
}

.cta-headline {
    flex-basis: 60%;
}

.cta-headline h3 {
    letter-spacing: -0.63px;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

.cta-btn {
    flex-basis: 20%;
}

span.arrow-icon {
    display: inline-block;
    width: 20px;
    height: 10px;
    background: url('arrow.png') no-repeat center;
    margin-left: 2px;
    transition: 0.3s;
}

.footer-cta {
    margin-top: 0.5rem;
}

.footer-cta:hover span.arrow-icon {
    margin-left: 0.25rem;
}

@media only screen and (max-width: 900px) {

    .headline,
    .subhead {
        flex-basis: 100%;
        padding: 0.5rem;
    }

}

@media only screen and (max-width: 1000px) {

    footer {
        padding: 10% 5%;
    }

    .cta-headline,
    .cta-btn {
        flex-basis: 100%;
        padding: 5px;
    }
}